/* global.css */

html,
body {
  min-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* 전체 레이아웃 */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
  height: 420px;
}

.event-banner-section {
  flex: 2;
  overflow-y: auto;
}

.login-form-section {
  flex: 1;
  overflow-y: auto;
}

.service-card-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 350px;
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
  flex-wrap: nowrap; /* 한 줄에 고정 */
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
