/* 로그인 폼 컨테이너 */
.login-form-container {
  width: 100%;
  padding: var(--spacing-small);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-large);
  background-color: var(--white-color);
  box-shadow: var(--shadow-deep);
  box-sizing: border-box;
  margin: 0 auto; /* 중앙 정렬 */
}

.login-form-main-page {
  height: 400px;
}

.login-form-login-page {
  height: auto;
  min-height: 500px;
  padding: 0;
  margin-top: var(--spacing-large);
}

/* 로그인 제목 스타일 */
.login-title {
  margin-top: var(--spacing-large); /* 상단 여백 */
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: var(--spacing-large); /* 폰트 크기에 맞는 마진 조정 */
  font-size: var(--font-size-xl); /* 폰트 크기 적당하게 조정 */
  font-weight: bold; /* 강조를 위한 굵게 */
}

/* 로그인 폼 스타일 */
.login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* 중앙 정렬 */
  display: flex;
  flex-direction: column;
}

/* 입력 필드 */
.login-input {
  width: 100%;
  padding: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
  font-size: var(--font-size-base);
  border-radius: var(--border-radius-small);
  border: 1px solid var(--border-color-light);
  box-sizing: border-box; /* 여백 포함 */
}

/* 로그인 버튼 */
.login-button {
  width: 100%;
  padding: var(--spacing-medium);
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: var(--font-size-base);
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  transition: background-color 0.3s; /* 부드러운 색상 변화 효과 */
}

.login-button:hover {
  background-color: var(--primary-color-dark);
}

/* 로그인 링크 */
.login-links {
  margin-top: var(--spacing-medium);
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--text-color-light);
}

.login-links a {
  margin: 0 6px;
  text-decoration: none;
  color: var(--primary-color);
}

.login-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 24px 0 16px;
  color: #aaa;
  font-size: var(--font-size-small);
}

.login-divider::before,
.login-divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--border-color-light);
}

.login-divider::before {
  margin-right: var(--spacing-medium);
}

.login-divider::after {
  margin-left: var(--spacing-medium);
}

.sns-login-buttons-horizontal {
  display: flex;
  justify-content: center;
  gap: var(--spacing-medium);
  margin-top: var(--spacing-medium);
}

/* 로그인 폼의 페이지에 따른 스타일 */
.login-form-login-page .sns-login-buttons-horizontal {
  display: flex;
  justify-content: center; /* 버튼들을 중앙 정렬 */
  gap: var(--spacing-medium);
  margin-top: 50px;
  height: 100%; /* 부모 컨테이너 크기 맞추기 */
}

.sns-icon-button {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 1px solid var(--border-color-light); /* 박스 테두리 */
  border-radius: var(--border-radius-medium); /* 라운드 모서리 */
  background-color: var(--white-color); /* 배경색 */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.sns-icon-button:hover {
  background-color: var(--background-color-light-gray); /* hover 시 살짝 밝게 */
}

.sns-icon-button img {
  width: 100%; /* 아이콘 크기 조절 */
  height: 100%;
  object-fit: contain;
}

